body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

/*Bootbox confirmation changes*/
.bootbox-confirm {
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    opacity: 1 !important;
}

.modal-dialog {
    top: 50%;
    padding-bottom: 290px;
}
/*Bootbox confirmation changes*/


/*Bootstrap-lux table changes*/
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.table-bordered {
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.dataTables_filter {
    width: 225px;
    float: right;
}

.dataTables_length {
    width: 225px;
    float: left;
}

.dataTables_info {
    width: 225px;
    float: left;
}

.paginate_button {
    cursor: default;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding-right: 0.6em;
    padding-left: 0.6em;
}

.paginate_button.current {
    color: #fff;
    background-color: #1a1a1a;
}
/*Bootstrap-lux table changes*/

/*Custom classes*/
.noBackgroundColor {
    background-color: white;
    padding: 40px 0 50px;
}

.paddingBottom {
    padding-bottom: 50px;
}

.centerText {
    text-align: center;
}

.fitParent {
    height: 100%;
    width: 100%;
}

.maxNavbarHeight {
    height: 80px !important;
}