@{
    ViewBag.Title = "TESLA | Home";
    ViewBag.HideNavBar = true;
}

<div class="jumbotron noBackgroundColor centerText paddingBottom" style="padding-top: 0;">
    <img class="fitParent paddingBottom" src="~/Content/images/homepage2.png" />
    <h1>
        <p>Quickest Acceleration. Longest Range.</p>
        <p>The Safest Cars Ever.</p>
    </h1>
</div>


<hr>
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-4">
        <a href="@Url.Action("News", "Home")"><h2 class="centerText">NEWS</h2></a>
        <p class="centerText">
            Find out the latest news in the Tesla's World.
        </p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("CarIndex", "Car")"><h2 class="centerText">VEHICLES</h2></a>
        <p class="centerText">
            Browse through our greatests products and find the perfect car for You and your family!
        </p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Contact", "Home")"><h2 class="centerText" href="@Url.Action("Contact", "Home")">CONTACT</h2></a>
        <p class="centerText">
            Contact with us and check out where You can find us.
        </p>
    </div>
</div>